.sidebar {
    width: 250px;
    background: #d4edfc;
    min-height: 100vh;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 20px;
}

.menu-item {
    background: #6fa8dc;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.menu-item:hover {
    background: #4682b4;
    cursor: pointer;
}

a {
    text-decoration: none;
}

th,
td {
    text-align: center;
}