<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thông Tin Khách Hàng</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

    <style>
      body {
        background-color: #d7effc;
        /* Màu nền xanh nhạt */
      }

      .info-box {
        background-color: #e5f4ff;
        border: 2px solid #a9cce3;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
      }

      .info-title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .text-muted {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('home.home')}}">
          <img
            src="{{ url_for('static', filename='img/logoBank.jpg') }}"
            style="width: 50px; height: 50px"
            class="rounded"
            href="{{url_for('home.home')}}"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a
                class="nav-link active text-white"
                aria-current="page"
                href="{{url_for('home.home')}}"
                >Trang chủ</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{{url_for('home.home')}}"
                >Về chúng tôi</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dịch vụ
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="../user/offers.html">Ưu đãi</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Lịch sử giao dịch</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="#">Gửi tiết kiệm</a></li>
              </ul>
            </li>
          </ul>
          <li class="nav-item dropdown d-flex align-items-center">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="{{url_for('home.infoUser')}}"
                  >Thông tin tài khoản</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('auth.logout')}}"
                  >Đăng xuất</a
                >
              </li>
              <li></li>
            </ul>
          </li>
        </div>
      </div>
    </nav>
    <div id="changeInfoForm">
      <div class="container mt-4">
        <!-- Thông tin khách hàng -->
        <h4 class="info-title">THÔNG TIN KHÁCH HÀNG</h4>
        <form
          action="{{url_for('home.changeInfoUser')}}"
          onsubmit="return validateForm(event)"
          method="POST"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Họ Tên:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="hoten"
                    name="hoten"
                    value="{{info.HoTen}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="hoten-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Số CCCD:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="cccd"
                    name="cccd"
                    value="{{info.SoCCCD}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="cccd-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Nơi cấp CCCD:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="noicapcccd"
                    name="noicapcccd"
                    value="{{info.NoiCapCCCD}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="noicapcccd-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Quốc tịch:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="quoctich"
                    name="quoctich"
                    value="{{info.QuocTich}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="quoctich-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Nơi cư trú:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="noicutru"
                    name="noicutru"
                    value="{{info.NoiCuTru}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="noicutru-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>

              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Địa chỉ thường trú:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="diachithuongtru"
                    name="diachithuongtru"
                    value="{{info.DiaChiThuongTru}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="diachithuongtru'-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Số điện thoại:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="sodienthoai"
                    name="sodienthoai"
                    value="{{info.SoDienThoai}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="sodienthoai-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Email:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    value="{{info.Email}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="email-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Ngày sinh:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="ngaysinh"
                    name="ngaysinh"
                    value="{{info.NgaySinh}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="ngaysinh-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Ngày cấp CCCD:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="ngaycapcccd"
                    name="ngaycapcccd"
                    value="{{info.NgayCapCCCD}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="ngaycapcccd-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Có giá trị đến:</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="cogiatriden"
                    name="cogiatriden"
                    value="{{info.CoGiaTriDen}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="cogiatriden-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Dân tộc:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="dantoc"
                    name="dantoc"
                    value="{{info.DanToc}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="dantoc-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Địa chỉ hiện tại:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="diachihientai"
                    name="diachihientai"
                    value="{{info.DiaChiHienTai}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="diachihientai-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Giới tính:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="gioitinh"
                    name="gioitinh"
                    value="{{info.GioiTinh}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="gioitinh-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
              <div class="d-flex flex-column mb-3">
                <div class="d-flex align-items-center">
                  <label class="fw-bold me-2" style="width: 100px"
                    >Nghề nghiệp:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nghenghiep"
                    name="nghenghiep"
                    value="{{info.NgheNghiep}}"
                    placeholder=""
                    required
                  />
                </div>
                <span
                  id="nghenghiep-error"
                  class="text-danger mt-1"
                  style="font-size: 14px"
                ></span>
              </div>
            </div>
          </div>
          <div style="text-align: center">
            <button type="submit" class="btn btn-primary w-50">
              Lưu thay đổi
            </button>
          </div>
        </form>
      </div>
    </div>
    <br />
    <footer class="bg-dark text-white py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <p>
              PyBank là nền tảng ngân hàng số hiện đại, giúp bạn gửi tiết kiệm,
              quản lý tài chính và giao dịch mọi lúc, mọi nơi chỉ với vài thao
              tác đơn giản.
            </p>
            <p>
              💰 Gửi tiết kiệm linh hoạt – Lãi suất hấp dẫn, kỳ hạn đa dạng,
              giúp bạn tối ưu hóa số tiền nhàn rỗi.
            </p>
            <p>
              🔒 An toàn & bảo mật – Công nghệ mã hóa tiên tiến, đảm bảo an toàn
              tuyệt đối cho tài khoản của bạn.
            </p>
            <p>
              🎯 Trải nghiệm thông minh – Giao diện thân thiện, thao tác đơn
              giản, phù hợp với mọi đối tượng.
            </p>
            <p>PyBank – Tiết kiệm thông minh, tài chính vững vàng! 🚀</p>
          </div>
          <div class="col">
            <p>PyBank - Ngân hàng số thông minh cho tương lai</p>
            <p>Địa chỉ: 123 Đường ABC, Quận 1, TP. HCM</p>
            <p>Email: support@xyz.com</p>
            <p>Hotline: 0987 654 321</p>
          </div>
        </div>
      </div>

      <p style="margin: 2%; text-align: center">
        &copy; 2025 Trang Chủ. Mọi quyền được bảo lưu.
      </p>
    </footer>
  </body>
</html>
