<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tạo tài khoản</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('home.home')}}">
          <img
            src="{{ url_for('static', filename='img/logoBank.jpg') }}"
            style="width: 50px; height: 50px"
            class="rounded"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a
                class="nav-link active text-white"
                aria-current="page"
                href="{{url_for('home.home')}}"
                >Trang chủ</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" onclick="location.href='#aboutUs'"
                >Về chúng tôi</a
              >
            </li>
            {% if isLogin %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dịch vụ
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a
                    class="dropdown-item"
                    href="{{url_for('home.lichsugiaodich')}}"
                    >Lịch sử giao dịch</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>

                <li>
                  {% if tk.LoaiTK == 'ML2' %}
                  <a class="dropdown-item" href="{{url_for('home.tattoan')}}"
                    >Tất toán sổ tiết kiệm</a
                  >
                  {% else %}
                  <a class="dropdown-item" href="{{url_for('home.sotietkiem')}}"
                    >Mở sổ tiết kiệm</a
                  >
                  {% endif %}
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>

                <li>
                  <a class="dropdown-item" href="{{url_for('home.thongke')}}"
                    >Thống kê</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('home.xem_uu_dai') }}"
                    >Ưu đãi</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('account.taoTaiKhoan') }}"
                    >Tạo tài khoản mới</a
                  >
                </li>
                {% if tk.LoaiTK != 'ML2' %}

                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="{{ url_for('home.napTien') }}"
                    >Nạp tiền vào thẻ</a
                  >
                </li>
                {% endif %}
              </ul>
            </li>

            {% endif %}
          </ul>
          <li class="nav-item dropdown d-flex align-items-center">
            <a
              class="nav-link dropdown-toggle text-white"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user"></i>
            </a>

            {% if isLogin %}
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="{{url_for('home.infoUser')}}"
                  >Thông tin tài khoản</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('account.chooseAcc')}}"
                  >Chuyển tài khoản</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="{{url_for('auth.logout')}}"
                  >Đăng xuất</a
                >
              </li>
              <li></li>
            </ul>
            {% else %}
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="{{url_for('auth.login')}}"
                  >Đăng nhập</a
                >
              </li>
              <li></li>
            </ul>

            {% endif %}
          </li>
        </div>
      </div>
    </nav>
    <div class="container mt-5 mb-5">
      <h2 class="text-center">Tạo tài khoản</h2>

      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <script>
        {% for category, message in messages %}
          alert("{{ message }}");
        {% endfor %}
      </script>
      {% endif %} {% endwith %}

      <form
        id="formTaoTaiKhoan"
        method="POST"
        action="{{ url_for('account.taoTaiKhoan') }}"
        class="p-4 border rounded bg-light"
      >
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="form-label">Số tài khoản</label>
            <input
              id="SoTaiKhoan"
              type="text"
              name="SoTaiKhoan"
              class="form-control"
              value="{{ SoTaiKhoan }}"
              readonly
              required
            />
          </div>
          <div class="col-md-6 mb-3">
            <label class="form-label">Loại tài khoản</label>
            <select name="maLoaiTK" class="form-control" required>
              <option value="">-- Chọn người quản lý --</option>
              {% for loai in dsLoaiTK %}
              <option value="{{ loai.MaLoai }}">{{ loai.TenLoai }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="d-flex justify-content-between">
            <a href="{{ url_for('home.home') }}" class="btn btn-secondary"
              >Hủy</a
            >

            <button type="submit" id="saveButton" class="btn btn-primary">
              Tạo tài khoản
            </button>
          </div>
        </div>
      </form>
    </div>
    <footer class="bg-dark text-white py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <p>
              PyBank là nền tảng ngân hàng số hiện đại, giúp bạn gửi tiết kiệm,
              quản lý tài chính và giao dịch mọi lúc, mọi nơi chỉ với vài thao
              tác đơn giản.
            </p>
            <p>
              💰 Gửi tiết kiệm linh hoạt – Lãi suất hấp dẫn, kỳ hạn đa dạng,
              giúp bạn tối ưu hóa số tiền nhàn rỗi.
            </p>
            <p>
              🔒 An toàn & bảo mật – Công nghệ mã hóa tiên tiến, đảm bảo an toàn
              tuyệt đối cho tài khoản của bạn.
            </p>
            <p>
              🎯 Trải nghiệm thông minh – Giao diện thân thiện, thao tác đơn
              giản, phù hợp với mọi đối tượng.
            </p>
            <p>PyBank – Tiết kiệm thông minh, tài chính vững vàng! 🚀</p>
          </div>
          <div class="col">
            <p>PyBank - Ngân hàng số thông minh cho tương lai</p>
            <p>Địa chỉ: 123 Đường ABC, Quận 1, TP. HCM</p>
            <p>Email: support@xyz.com</p>
            <p>Hotline: 0987 654 321</p>
          </div>
        </div>
      </div>

      <p style="margin: 2%; text-align: center">
        &copy; 2025 Trang Chủ. Mọi quyền được bảo lưu.
      </p>
    </footer>
  </body>
</html>
