<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Quên mật khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </head>

  <body style="background-color: #dff6ff; margin: 0">
    <div
      class="container-fluid d-flex justify-content-center align-items-center"
      style="min-height: 100vh"
    >
      <div
        class="row w-75 shadow-lg p-4 rounded"
        style="background-color: white"
      >
        <div class="col-md-6 text-center">
          <img
            src="{{ url_for('static', filename='img/img_bank.webp') }}"
            class="img-fluid rounded"
            style="max-width: 100%; height: auto"
          />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <div style="max-width: 400px; margin-left: 12%">
            <form action="{{url_for('auth.forgetPassSubmit')}}" method="POST">
              <div
                id="inputForm"
                style="display: {% if not show_result%}block{%else%}none{%endif%}"
              >
                <h1 class="text-center">Lấy lại mật khẩu</h1>
                <div class="mb-3">
                  <label for="username" class="form-label"
                    >Tên đăng nhập:
                  </label>
                  <input
                    type="input"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Nhập tên đăng nhập"
                    required
                  />
                </div>

                <label class="form-label">Chọn hình thức xác thực:</label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="authMethod"
                    value="cccd"
                    id="authCCCD"
                    onclick="showCCCD()"
                  />
                  <label class="form-check-label" for="authCCCD">
                    Xác thực bằng số CCCD
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="authMethod"
                    value="signature"
                    id="authSignature"
                    onclick="showSignature()"
                  />
                  <label class="form-check-label" for="authSignature">
                    Xác thực bằng chữ ký viết tay
                  </label>
                </div>
              </div>

              <!-- Form nhập CCCD -->
              <div id="cccdForm" style="display: none">
                <div class="mb-3">
                  <label for="cccd" class="form-label">Số CCCD: </label>
                  <input
                    type="text"
                    class="form-control"
                    id="cccd"
                    name="cccd"
                    placeholder="Nhập số CCCD"
                  />
                </div>
                <button type="submit" class="btn btn-primary w-100">
                  Xác nhận
                </button>
              </div>

              <!-- Form tải lên chữ ký -->
              <div id="signatureForm" style="display: none">
                <div class="mb-3">
                  <label for="formFile" class="form-label"
                    >Chọn ảnh chữ ký</label
                  >
                  <input class="form-control" type="file" id="formFile" />
                </div>
                <button type="submit" class="btn btn-primary w-100">
                  Xác nhận
                </button>
              </div>

              <!-- Form kết quả -->
              <div
                id="resultForm"
                style="display: {% if show_result%}block{%else%}none{%endif%}"
              >
                <h1 class="text-center">Lấy lại mật khẩu</h1>
                <div class="mb-3">
                  <label for="username" class="form-label"
                    >Tên đăng nhập:
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    value="{{username}}"
                    aria-label="Disabled input example"
                    disabled
                    readonly
                  />
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Mật khẩu: </label>
                  <input
                    class="form-control"
                    type="text"
                    value="{{password}}"
                    aria-label="Disabled input example"
                    disabled
                    readonly
                  />
                </div>
                <p class="text-danger">
                  Vui lòng nhớ kỹ mật khẩu để đăng nhập!!!
                </p>
              </div>
              <p
                class="text-end fst-italic"
                style="cursor: pointer; color: blue"
                Quay
                lại
                đăng
                nhập?
              >
                <a href="{{url_for('auth.login')}}"> Quay lại đăng nhập? </a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>
